@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  .cShadow {
   box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }

.cShadow2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cShadow3 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}